<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <h1>Register</h1>
    <form action="/register" method="POST">
    <div>
        
            <label for="us">Enter Username</label>
            <input type="text" name="username" id="us" placeholder="username">
        
    </div>
    <div>

            <label for="pwd">Enter Password</label>
            <input type="password" name="password" id="pwd" placeholder="pwd">
     
    </div>


    <button>Sign Up</button>
</form>
    
</body>
</html>